azure/logic-apps/toll-enforce-topup.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Condition": {
              "actions": {
                  "Set_variable": {
                      "inputs": {
                          "name": "remunerationUrl",
                          "value": "https://test.ledger.overhide.io/v1"
                      },
                      "runAfter": {},
                      "type": "SetVariable"
                  },
                  "Set_variable_3": {
                      "inputs": {
                          "name": "zoneAPrice",
                          "value": "4.50"
                      },
                      "runAfter": {
                          "Set_variable": [
                              "Succeeded"
                          ]
                      },
                      "type": "SetVariable"
                  },
                  "Set_variable_4": {
                      "inputs": {
                          "name": "zoneBPrice",
                          "value": "3.00"
                      },
                      "runAfter": {
                          "Set_variable_3": [
                              "Succeeded"
                          ]
                      },
                      "type": "SetVariable"
                  },
                  "Set_variable_7": {
                      "inputs": {
                          "name": "zoneCPrice",
                          "value": "1.50"
                      },
                      "runAfter": {
                          "Set_variable_4": [
                              "Succeeded"
                          ]
                      },
                      "type": "SetVariable"
                  },
                  "Set_variable_9": {
                      "inputs": {
                          "name": "payeeAddress",
                          "value": "0xd6106c445A07a6A1caF02FC8050F1FDe30d7cE8b"
                      },
                      "runAfter": {
                          "Set_variable_7": [
                              "Succeeded"
                          ]
                      },
                      "type": "SetVariable"
                  }
              },
              "expression": {
                  "and": [
                      {
                          "equals": [
                              "@triggerBody()?['payerLedgerKey']",
                              "ohledger"
                          ]
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_variable_5": [
                      "Succeeded"
                  ]
              },
              "type": "If"
          },
          "Condition_2": {
              "actions": {
                  "Set_variable_10": {
                      "inputs": {
                          "name": "payeeAddress",
                          "value": "0xd6106c445A07a6A1caF02FC8050F1FDe30d7cE8b"
                      },
                      "runAfter": {
                          "Set_variable_8": [
                              "Succeeded"
                          ]
                      },
                      "type": "SetVariable"
                  },
                  "Set_variable_2": {
                      "inputs": {
                          "name": "remunerationUrl",
                          "value": "https://rinkeby.ethereum.overhide.io"
                      },
                      "runAfter": {},
                      "type": "SetVariable"
                  },
                  "Set_variable_5": {
                      "inputs": {
                          "name": "zoneAPrice",
                          "value": "0.0289"
                      },
                      "runAfter": {
                          "Set_variable_2": [
                              "Succeeded"
                          ]
                      },
                      "type": "SetVariable"
                  },
                  "Set_variable_6": {
                      "inputs": {
                          "name": "zoneBPrice",
                          "value": "0.0193"
                      },
                      "runAfter": {
                          "Set_variable_5": [
                              "Succeeded"
                          ]
                      },
                      "type": "SetVariable"
                  },
                  "Set_variable_8": {
                      "inputs": {
                          "name": "zoneCPrice",
                          "value": "0.0096"
                      },
                      "runAfter": {
                          "Set_variable_6": [
                              "Succeeded"
                          ]
                      },
                      "type": "SetVariable"
                  }
              },
              "expression": {
                  "and": [
                      {
                          "equals": [
                              "@triggerBody()?['payerLedgerKey']",
                              "eth-web3"
                          ]
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_variable_5": [
                      "Succeeded"
                  ]
              },
              "type": "If"
          },
          "Execute_smart_contract_function_(incurring_gas_cost)": {
              "inputs": {
                  "body": {
                      "byWhom": "@{body('GetPayeeHash')}",
                      "forCar": "@triggerBody()['carAddress']",
                      "newZoneTimeoutsBytes": "@{body('GetZoneTimeouts')}",
                      "plateHash": "@triggerBody()['plateHash']"
                  },
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['blockchainethereum']['connectionId']"
                      }
                  },
                  "method": "post",
                  "path": "/contract/functions/@{encodeURIComponent(encodeURIComponent('topup'))}/execute",
                  "queries": {
                      "abi": "[{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToPlateHash\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneA\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneBTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"rewardValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"reports\",\"outputs\":[{\"name\":\"isPending\",\"type\":\"bool\"},{\"name\":\"bountyHunter\",\"type\":\"address\"},{\"name\":\"bountyExpirationUnixTime\",\"type\":\"uint256\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"stakedValue\",\"type\":\"uint256\"},{\"name\":\"rewardValue\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneC\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"plateHash\",\"type\":\"bytes32\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"doReport\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneCTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"isGood\",\"type\":\"bool\"}],\"name\":\"reconcileReport\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"bountyTimePeriodSeconds\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneCTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"},{\"name\":\"plateHash\",\"type\":\"bytes32\"},{\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"name\":\"newZoneTimeoutsBytes\",\"type\":\"bytes32\"}],\"name\":\"topup\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneATimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"who\",\"type\":\"address\"},{\"name\":\"hash\",\"type\":\"bytes32\"},{\"name\":\"v\",\"type\":\"uint8\"},{\"name\":\"r\",\"type\":\"bytes32\"},{\"name\":\"s\",\"type\":\"bytes32\"}],\"name\":\"validate\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneBTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"minStakeValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneATimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_rewardValue\",\"type\":\"uint256\"},{\"name\":\"_minStakeValue\",\"type\":\"uint256\"},{\"name\":\"_bountyTimePeriodSeconds\",\"type\":\"uint256\"}],\"name\":\"admin\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"expireReports\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneB\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"name\":\"payeeHashToLastPaymentUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"purgeCars\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"indexed\":false,\"name\":\"newZoneATimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneBTimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneCTimeout\",\"type\":\"uint256\"}],\"name\":\"Topup\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"NewReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"BadReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"GoodReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"ExpiredReport\",\"type\":\"event\"}]",
                      "contractAddress": "@triggerBody()?['admin']?['contractAddress']"
                  }
              },
              "runAfter": {
                  "Query_smart_contract_function_(incurring_no_gas_cost)_2": [
                      "Succeeded"
                  ]
              },
              "type": "ApiConnection"
          },
          "GetPayeeHash": {
              "inputs": {
                  "body": {
                      "address": " @{variables('payeeAddress')}",
                      "ledgerKey": "@{triggerBody()?['payerLedgerKey']}"
                  },
                  "function": {
                      "id": "/subscriptions/5681b7e6-d474-4cb9-94d3-cbc132b7a262/resourceGroups/test-rg/providers/Microsoft.Web/sites/toll-enforce/functions/GetPayeeHash"
                  },
                  "headers": {
                      "Content-Type": "application/json"
                  }
              },
              "runAfter": {
                  "HTTP_2": [
                      "Succeeded"
                  ]
              },
              "type": "Function"
          },
          "GetZoneTimeouts": {
              "inputs": {
                  "body": {
                      "lastPaymentUnixTime": "@{body('Query_smart_contract_function_(incurring_no_gas_cost)')?['Function Output']}",
                      "ledgerKey": "@{triggerBody()?['payerLedgerKey']}",
                      "topupPeriodMinutes": "2",
                      "txs": "@body('HTTP_2')",
                      "zoneAPrice": "@{variables('zoneAPrice')}",
                      "zoneBPrice": "@{variables('zoneBPrice')}",
                      "zoneCPrice": "@{variables('zoneCPrice')}"
                  },
                  "function": {
                      "id": "/subscriptions/5681b7e6-d474-4cb9-94d3-cbc132b7a262/resourceGroups/test-rg/providers/Microsoft.Web/sites/toll-enforce/functions/GetZoneTimeouts"
                  }
              },
              "runAfter": {
                  "Query_smart_contract_function_(incurring_no_gas_cost)": [
                      "Succeeded"
                  ]
              },
              "type": "Function"
          },
          "HTTP": {
              "inputs": {
                  "body": {
                      "address": "@{triggerBody()['payerAddress']}",
                      "message": "@{triggerBody()?['payerSignature']?['base64Challenge']}",
                      "signature": "@{triggerBody()?['payerSignature']?['base64Signature']}"
                  },
                  "headers": {
                      "Authorization": "Bearer @{body('HTTP_3')}",
                      "Content-Type": "application/json; charset=utf-8"
                  },
                  "method": "POST",
                  "uri": "@{variables('remunerationUrl')}/is-signature-valid"
              },
              "runAfter": {
                  "HTTP_3": [
                      "Succeeded"
                  ]
              },
              "type": "Http"
          },
          "HTTP_2": {
              "inputs": {
                  "headers": {
                      "Authorization": "Bearer @{body('HTTP_3')}",
                      "Content-Type": "application/json; charset=utf-8"
                  },
                  "method": "GET",
                  "queries": {
                      "since": "@{body('ISO8601SinceTimestamp')}"
                  },
                  "uri": "@{variables('remunerationUrl')}/get-transactions/@{triggerBody()['payerAddress']}/@{variables('payeeAddress')}"
              },
              "runAfter": {
                  "ISO8601SinceTimestamp": [
                      "Succeeded"
                  ]
              },
              "type": "Http"
          },
          "HTTP_3": {
              "inputs": {
                  "method": "GET",
                  "queries": {
                      "apikey": "0x___API_KEY_ONLY_FOR_DEMOS_AND_TESTS___"
                  },
                  "uri": "https://token.overhide.io/token"
              },
              "runAfter": {
                  "Condition": [
                      "Succeeded"
                  ],
                  "Condition_2": [
                      "Succeeded"
                  ]
              },
              "type": "Http"
          },
          "ISO8601SinceTimestamp": {
              "inputs": {
                  "body": {
                      "topupPeriodMinutes": "2"
                  },
                  "function": {
                      "id": "/subscriptions/5681b7e6-d474-4cb9-94d3-cbc132b7a262/resourceGroups/test-rg/providers/Microsoft.Web/sites/toll-enforce/functions/ISO8601SinceTimestamp"
                  },
                  "headers": {
                      "Content-Type": "application/json"
                  }
              },
              "runAfter": {
                  "HTTP": [
                      "Succeeded"
                  ]
              },
              "type": "Function"
          },
          "Initialize_variable": {
              "inputs": {
                  "variables": [
                      {
                          "name": "remunerationUrl",
                          "type": "String"
                      }
                  ]
              },
              "runAfter": {},
              "type": "InitializeVariable"
          },
          "Initialize_variable_2": {
              "inputs": {
                  "variables": [
                      {
                          "name": "zoneAPrice",
                          "type": "String"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_variable": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "Initialize_variable_3": {
              "inputs": {
                  "variables": [
                      {
                          "name": "zoneBPrice",
                          "type": "String"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_variable_2": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "Initialize_variable_4": {
              "inputs": {
                  "variables": [
                      {
                          "name": "zoneCPrice",
                          "type": "String"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_variable_3": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "Initialize_variable_5": {
              "inputs": {
                  "variables": [
                      {
                          "name": "payeeAddress",
                          "type": "String"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_variable_4": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "Query_smart_contract_function_(incurring_no_gas_cost)": {
              "inputs": {
                  "body": {
                      "": "@{body('GetPayeeHash')}"
                  },
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['blockchainethereum']['connectionId']"
                      }
                  },
                  "method": "post",
                  "path": "/contract/functions/@{encodeURIComponent(encodeURIComponent('payeeHashToLastPaymentUnixTime'))}/query",
                  "queries": {
                      "abi": "[{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToPlateHash\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneA\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneBTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"rewardValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"reports\",\"outputs\":[{\"name\":\"isPending\",\"type\":\"bool\"},{\"name\":\"bountyHunter\",\"type\":\"address\"},{\"name\":\"bountyExpirationUnixTime\",\"type\":\"uint256\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"stakedValue\",\"type\":\"uint256\"},{\"name\":\"rewardValue\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneC\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"plateHash\",\"type\":\"bytes32\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"doReport\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneCTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"isGood\",\"type\":\"bool\"}],\"name\":\"reconcileReport\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"bountyTimePeriodSeconds\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneCTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"},{\"name\":\"plateHash\",\"type\":\"bytes32\"},{\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"name\":\"newZoneTimeoutsBytes\",\"type\":\"bytes32\"}],\"name\":\"topup\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneATimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"who\",\"type\":\"address\"},{\"name\":\"hash\",\"type\":\"bytes32\"},{\"name\":\"v\",\"type\":\"uint8\"},{\"name\":\"r\",\"type\":\"bytes32\"},{\"name\":\"s\",\"type\":\"bytes32\"}],\"name\":\"validate\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneBTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"minStakeValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneATimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_rewardValue\",\"type\":\"uint256\"},{\"name\":\"_minStakeValue\",\"type\":\"uint256\"},{\"name\":\"_bountyTimePeriodSeconds\",\"type\":\"uint256\"}],\"name\":\"admin\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"expireReports\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneB\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"name\":\"payeeHashToLastPaymentUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"purgeCars\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"indexed\":false,\"name\":\"newZoneATimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneBTimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneCTimeout\",\"type\":\"uint256\"}],\"name\":\"Topup\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"NewReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"BadReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"GoodReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"ExpiredReport\",\"type\":\"event\"}]",
                      "contractAddress": "@triggerBody()?['admin']?['contractAddress']"
                  }
              },
              "runAfter": {
                  "GetPayeeHash": [
                      "Succeeded"
                  ]
              },
              "type": "ApiConnection"
          },
          "Query_smart_contract_function_(incurring_no_gas_cost)_2": {
              "inputs": {
                  "body": {
                      "hash": "@triggerBody()?['carSignature']?['challengeHash']",
                      "r": "@triggerBody()?['carSignature']?['r']",
                      "s": "@triggerBody()?['carSignature']?['s']",
                      "v": "@triggerBody()?['carSignature']?['v']",
                      "who": "@triggerBody()['carAddress']"
                  },
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['blockchainethereum']['connectionId']"
                      }
                  },
                  "method": "post",
                  "path": "/contract/functions/@{encodeURIComponent(encodeURIComponent('validate'))}/query",
                  "queries": {
                      "abi": "[{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToPlateHash\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneA\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneBTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"rewardValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"reports\",\"outputs\":[{\"name\":\"isPending\",\"type\":\"bool\"},{\"name\":\"bountyHunter\",\"type\":\"address\"},{\"name\":\"bountyExpirationUnixTime\",\"type\":\"uint256\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"stakedValue\",\"type\":\"uint256\"},{\"name\":\"rewardValue\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneC\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"plateHash\",\"type\":\"bytes32\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"doReport\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneCTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"isGood\",\"type\":\"bool\"}],\"name\":\"reconcileReport\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"bountyTimePeriodSeconds\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneCTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"},{\"name\":\"plateHash\",\"type\":\"bytes32\"},{\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"name\":\"newZoneTimeoutsBytes\",\"type\":\"bytes32\"}],\"name\":\"topup\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneATimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"who\",\"type\":\"address\"},{\"name\":\"hash\",\"type\":\"bytes32\"},{\"name\":\"v\",\"type\":\"uint8\"},{\"name\":\"r\",\"type\":\"bytes32\"},{\"name\":\"s\",\"type\":\"bytes32\"}],\"name\":\"validate\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneBTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"minStakeValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneATimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_rewardValue\",\"type\":\"uint256\"},{\"name\":\"_minStakeValue\",\"type\":\"uint256\"},{\"name\":\"_bountyTimePeriodSeconds\",\"type\":\"uint256\"}],\"name\":\"admin\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"expireReports\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneB\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"name\":\"payeeHashToLastPaymentUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"purgeCars\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"indexed\":false,\"name\":\"newZoneATimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneBTimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneCTimeout\",\"type\":\"uint256\"}],\"name\":\"Topup\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"NewReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"BadReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"GoodReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"ExpiredReport\",\"type\":\"event\"}]",
                      "contractAddress": "@triggerBody()?['admin']?['contractAddress']"
                  }
              },
              "runAfter": {
                  "GetZoneTimeouts": [
                      "Succeeded"
                  ]
              },
              "type": "ApiConnection"
          },
          "Response": {
              "inputs": {
                  "body": "@body('HTTP_2')",
                  "statusCode": 200
              },
              "kind": "Http",
              "runAfter": {
                  "Execute_smart_contract_function_(incurring_gas_cost)": [
                      "Succeeded"
                  ]
              },
              "type": "Response"
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
          "$connections": {
              "defaultValue": {},
              "type": "Object"
          }
      },
      "triggers": {
          "manual": {
              "inputs": {
                  "schema": {
                      "properties": {
                          "admin": {
                              "properties": {
                                  "contractAddress": {
                                      "type": "string"
                                  },
                                  "formId": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          },
                          "carAddress": {
                              "type": "string"
                          },
                          "carSignature": {
                              "properties": {
                                  "challengeHash": {
                                      "type": "string"
                                  },
                                  "r": {
                                      "type": "string"
                                  },
                                  "s": {
                                      "type": "string"
                                  },
                                  "v": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          },
                          "payerAddress": {
                              "type": "string"
                          },
                          "payerLedgerKey": {
                              "type": "string"
                          },
                          "payerSignature": {
                              "properties": {
                                  "base64Challenge": {
                                      "type": "string"
                                  },
                                  "base64Signature": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          },
                          "plateHash": {
                              "type": "string"
                          }
                      },
                      "required": [
                          "carAddress",
                          "plateHash",
                          "carSignature.challengeHash",
                          "carSignature.r",
                          "carSignature.s",
                          "carSignature.v",
                          "admin.formId",
                          "admin.contractAddress",
                          "payerLedger",
                          "payerAddress",
                          "payerSignature.base64Signature",
                          "payerSignature.base64Challenge"
                      ],
                      "type": "object"
                  }
              },
              "kind": "Http",
              "type": "Request"
          }
      }
  },
  "parameters": {
      "$connections": {
          "value": {
              "blockchainethereum": {
                  "connectionId": "/subscriptions/5681b7e6-d474-4cb9-94d3-cbc132b7a262/resourceGroups/test-rg/providers/Microsoft.Web/connections/blockchainethereum-3",
                  "connectionName": "blockchainethereum-3",
                  "id": "/subscriptions/5681b7e6-d474-4cb9-94d3-cbc132b7a262/providers/Microsoft.Web/locations/eastus/managedApis/blockchainethereum"
              }
          }
      }
  }
}