azure/logic-apps/toll-enforce-topup.json
{
  "$connections": {
    "value": {
      "blockchainethereum": {
        "connectionId": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/resourceGroups/test-rg/providers/Microsoft.Web/connections/blockchainethereum-3",
        "connectionName": "blockchainethereum-3",
        "id": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/providers/Microsoft.Web/locations/eastus/managedApis/blockchainethereum"
      },
      "microsoftforms": {
        "connectionId": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/resourceGroups/test-rg/providers/Microsoft.Web/connections/microsoftforms",
        "connectionName": "microsoftforms",
        "id": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/providers/Microsoft.Web/locations/eastus/managedApis/microsoftforms"
      }
    }
  },
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Condition": {
        "actions": {
          "Set_variable": {
            "inputs": {
              "name": "remunerationUrl",
              "value": "@body('Get_response_details')?['rfdb2cc63a8d3497cb5c741f28c112112']"
            },
            "runAfter": {},
            "type": "SetVariable"
          },
          "Set_variable_3": {
            "inputs": {
              "name": "zoneAPrice",
              "value": "@body('Get_response_details')?['r85250a44f7c342f497918f7e6af3044e']"
            },
            "runAfter": {
              "Set_variable": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          },
          "Set_variable_4": {
            "inputs": {
              "name": "zoneBPrice",
              "value": "@body('Get_response_details')?['rffafeb30bb3b41a1a3ab492132168974']"
            },
            "runAfter": {
              "Set_variable_3": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          },
          "Set_variable_7": {
            "inputs": {
              "name": "zoneCPrice",
              "value": "@body('Get_response_details')?['rfc0904818b4b45a8a9879e581feac078']"
            },
            "runAfter": {
              "Set_variable_4": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          },
          "Set_variable_9": {
            "inputs": {
              "name": "payeeAddress",
              "value": "@body('Get_response_details')?['r0390f03707544cc4af0b1b0493cbcca4']"
            },
            "runAfter": {
              "Set_variable_7": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@triggerBody()?['payerLedgerKey']",
                "ohledger"
              ]
            }
          ]
        },
        "runAfter": {
          "Initialize_variable_5": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Condition_2": {
        "actions": {
          "Set_variable_10": {
            "inputs": {
              "name": "payeeAddress",
              "value": "@body('Get_response_details')?['rb8d33d19eb384b6aac2c67e3034feaac']"
            },
            "runAfter": {
              "Set_variable_8": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          },
          "Set_variable_2": {
            "inputs": {
              "name": "remunerationUrl",
              "value": "@body('Get_response_details')?['r02ade678d07d4649a7323cfdd49ed13c']"
            },
            "runAfter": {},
            "type": "SetVariable"
          },
          "Set_variable_5": {
            "inputs": {
              "name": "zoneAPrice",
              "value": "@body('Get_response_details')?['rca6dcb3207c5401f9c838333c7dedb69']"
            },
            "runAfter": {
              "Set_variable_2": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          },
          "Set_variable_6": {
            "inputs": {
              "name": "zoneBPrice",
              "value": "@body('Get_response_details')?['r3d3cb88f27404e75a7328d8154410c30']"
            },
            "runAfter": {
              "Set_variable_5": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          },
          "Set_variable_8": {
            "inputs": {
              "name": "zoneCPrice",
              "value": "@body('Get_response_details')?['rc06b10445cad4331ac3f3e2f89f0b7a2']"
            },
            "runAfter": {
              "Set_variable_6": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@triggerBody()?['payerLedgerKey']",
                "eth-web3"
              ]
            }
          ]
        },
        "runAfter": {
          "Initialize_variable_5": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Execute_smart_contract_function_(incurring_gas_cost)": {
        "inputs": {
          "body": {
            "byWhom": "@{body('GetPayeeHash')}",
            "carSigHash": "@triggerBody()?['carSignature']?['challengeHash']",
            "carSigR": "@triggerBody()?['carSignature']?['r']",
            "carSigS": "@triggerBody()?['carSignature']?['s']",
            "carSigV": "@triggerBody()?['carSignature']?['v']",
            "forCar": "@triggerBody()['carAddress']",
            "newZoneTimeoutsBytes": "@{body('GetZoneTimeouts')}"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['blockchainethereum']['connectionId']"
            }
          },
          "method": "post",
          "path": "/contract/functions/@{encodeURIComponent(encodeURIComponent('topup'))}/execute",
          "queries": {
            "abi": "[{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneA\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneBTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"rewardValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"reports\",\"outputs\":[{\"name\":\"isPending\",\"type\":\"bool\"},{\"name\":\"bountyHunter\",\"type\":\"address\"},{\"name\":\"bountyExpirationUnixTime\",\"type\":\"uint256\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"stakedValue\",\"type\":\"uint256\"},{\"name\":\"rewardValue\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneC\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneCTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"isGood\",\"type\":\"bool\"}],\"name\":\"reconcileReport\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"bountyTimePeriodSeconds\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneCTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"},{\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"name\":\"newZoneTimeoutsBytes\",\"type\":\"bytes32\"},{\"name\":\"carSigHash\",\"type\":\"bytes32\"},{\"name\":\"carSigV\",\"type\":\"uint8\"},{\"name\":\"carSigR\",\"type\":\"bytes32\"},{\"name\":\"carSigS\",\"type\":\"bytes32\"}],\"name\":\"topup\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneATimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneBTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"minStakeValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneATimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"doReport\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_rewardValue\",\"type\":\"uint256\"},{\"name\":\"_minStakeValue\",\"type\":\"uint256\"},{\"name\":\"_bountyTimePeriodSeconds\",\"type\":\"uint256\"}],\"name\":\"admin\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"expireReports\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneB\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"name\":\"payeeHashToLastPaymentUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"purgeCars\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"indexed\":false,\"name\":\"newZoneATimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneBTimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneCTimeout\",\"type\":\"uint256\"}],\"name\":\"Topup\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"NewReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"BadReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"GoodReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"ExpiredReport\",\"type\":\"event\"}]",
            "contractAddress": "@triggerBody()?['admin']?['contractAddress']"
          }
        },
        "runAfter": {
          "GetZoneTimeouts": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetPayeeHash": {
        "inputs": {
          "body": {
            "address": " @{variables('payeeAddress')}",
            "ledgerKey": "@{triggerBody()?['payerLedgerKey']}"
          },
          "function": {
            "id": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/resourceGroups/test-rg/providers/Microsoft.Web/sites/toll-enforce/functions/GetPayeeHash"
          },
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "HTTP_2": [
            "Succeeded"
          ]
        },
        "type": "Function"
      },
      "GetZoneTimeouts": {
        "inputs": {
          "body": {
            "lastPaymentUnixTime": "@{body('Query_smart_contract_function_(incurring_no_gas_cost)')?['Function Output']}",
            "ledgerKey": "@{triggerBody()?['payerLedgerKey']}",
            "topupPeriodMinutes": "@{body('Get_response_details')?['r14e4a1960ee44ca3be379b966a8bb97c']}",
            "txs": "@body('HTTP_2')",
            "zoneAPrice": "@{variables('zoneAPrice')}",
            "zoneBPrice": "@{variables('zoneBPrice')}",
            "zoneCPrice": "@{variables('zoneCPrice')}"
          },
          "function": {
            "id": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/resourceGroups/test-rg/providers/Microsoft.Web/sites/toll-enforce/functions/GetZoneTimeouts"
          }
        },
        "runAfter": {
          "Query_smart_contract_function_(incurring_no_gas_cost)": [
            "Succeeded"
          ]
        },
        "type": "Function"
      },
      "Get_response_details": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['microsoftforms']['connectionId']"
            }
          },
          "method": "get",
          "path": "/formapi/api/forms('@{encodeURIComponent('3Lt3--vGs02UAOXn9NV_scwAE4PWTPxFg9B_QZcw6HlUODhJNlNKT1VGVElRSlRTMUFCV0NaSDNIMC4u')}')/responses",
          "queries": {
            "response_id": "@triggerBody()['admin']['formId']"
          }
        },
        "runAfter": {},
        "type": "ApiConnection"
      },
      "HTTP": {
        "inputs": {
          "body": {
            "address": "@{triggerBody()['payerAddress']}",
            "message": "@{triggerBody()?['payerSignature']?['base64Challenge']}",
            "signature": "@{triggerBody()?['payerSignature']?['base64Signature']}"
          },
          "headers": {
            "Content-Type": "application/json; charset=utf-8"
          },
          "method": "POST",
          "uri": "@{variables('remunerationUrl')}/is-signature-valid"
        },
        "runAfter": {
          "Condition": [
            "Succeeded"
          ],
          "Condition_2": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "HTTP_2": {
        "inputs": {
          "headers": {
            "Content-Type": "application/json; charset=utf-8"
          },
          "method": "GET",
          "queries": {
            "since": "@{body('ISO8601SinceTimestamp')}"
          },
          "uri": "@{variables('remunerationUrl')}/get-transactions/@{triggerBody()['payerAddress']}/@{variables('payeeAddress')}"
        },
        "runAfter": {
          "ISO8601SinceTimestamp": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "ISO8601SinceTimestamp": {
        "inputs": {
          "body": {
            "topupPeriodMinutes": "@{body('Get_response_details')?['r14e4a1960ee44ca3be379b966a8bb97c']}"
          },
          "function": {
            "id": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/resourceGroups/test-rg/providers/Microsoft.Web/sites/toll-enforce/functions/ISO8601SinceTimestamp"
          },
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "HTTP": [
            "Succeeded"
          ]
        },
        "type": "Function"
      },
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "remunerationUrl",
              "type": "String"
            }
          ]
        },
        "runAfter": {
          "Get_response_details": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_variable_2": {
        "inputs": {
          "variables": [
            {
              "name": "zoneAPrice",
              "type": "String"
            }
          ]
        },
        "runAfter": {
          "Initialize_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_variable_3": {
        "inputs": {
          "variables": [
            {
              "name": "zoneBPrice",
              "type": "String"
            }
          ]
        },
        "runAfter": {
          "Initialize_variable_2": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_variable_4": {
        "inputs": {
          "variables": [
            {
              "name": "zoneCPrice",
              "type": "String"
            }
          ]
        },
        "runAfter": {
          "Initialize_variable_3": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_variable_5": {
        "inputs": {
          "variables": [
            {
              "name": "payeeAddress",
              "type": "String"
            }
          ]
        },
        "runAfter": {
          "Initialize_variable_4": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Query_smart_contract_function_(incurring_no_gas_cost)": {
        "inputs": {
          "body": {
            "": "@{body('GetPayeeHash')}"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['blockchainethereum']['connectionId']"
            }
          },
          "method": "post",
          "path": "/contract/functions/@{encodeURIComponent(encodeURIComponent('payeeHashToLastPaymentUnixTime'))}/query",
          "queries": {
            "abi": "[{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneA\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneBTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"rewardValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"reports\",\"outputs\":[{\"name\":\"isPending\",\"type\":\"bool\"},{\"name\":\"bountyHunter\",\"type\":\"address\"},{\"name\":\"bountyExpirationUnixTime\",\"type\":\"uint256\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"stakedValue\",\"type\":\"uint256\"},{\"name\":\"rewardValue\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneC\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentCars\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneCTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"isGood\",\"type\":\"bool\"}],\"name\":\"reconcileReport\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"bountyTimePeriodSeconds\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneCTimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"},{\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"name\":\"newZoneTimeoutsBytes\",\"type\":\"bytes32\"},{\"name\":\"carSigHash\",\"type\":\"bytes32\"},{\"name\":\"carSigV\",\"type\":\"uint8\"},{\"name\":\"carSigR\",\"type\":\"bytes32\"},{\"name\":\"carSigS\",\"type\":\"bytes32\"}],\"name\":\"topup\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneATimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"getZoneBTimeout\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"minStakeValue\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"carToZoneATimeoutUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"carAddress\",\"type\":\"address\"},{\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"doReport\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_rewardValue\",\"type\":\"uint256\"},{\"name\":\"_minStakeValue\",\"type\":\"uint256\"},{\"name\":\"_bountyTimePeriodSeconds\",\"type\":\"uint256\"}],\"name\":\"admin\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"expireReports\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"isPermittedInZoneB\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"name\":\"payeeHashToLastPaymentUnixTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"currentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getNumberCurrentReports\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[],\"name\":\"purgeCars\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"byWhom\",\"type\":\"bytes32\"},{\"indexed\":false,\"name\":\"newZoneATimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneBTimeout\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"newZoneCTimeout\",\"type\":\"uint256\"}],\"name\":\"Topup\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"carXCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"carYCoordinate\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"zoneIndex\",\"type\":\"uint256\"}],\"name\":\"NewReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"BadReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"GoodReport\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"forCar\",\"type\":\"address\"}],\"name\":\"ExpiredReport\",\"type\":\"event\"}]",
            "contractAddress": "@triggerBody()?['admin']?['contractAddress']"
          }
        },
        "runAfter": {
          "GetPayeeHash": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Response": {
        "inputs": {
          "body": "@body('HTTP_2')",
          "statusCode": 200
        },
        "kind": "Http",
        "runAfter": {
          "Execute_smart_contract_function_(incurring_gas_cost)": [
            "Succeeded"
          ]
        },
        "type": "Response"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "properties": {
              "admin": {
                "properties": {
                  "contractAddress": {
                    "type": "string"
                  },
                  "formId": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "carAddress": {
                "type": "string"
              },
              "carSignature": {
                "properties": {
                  "challengeHash": {
                    "type": "string"
                  },
                  "r": {
                    "type": "string"
                  },
                  "s": {
                    "type": "string"
                  },
                  "v": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "payerAddress": {
                "type": "string"
              },
              "payerLedgerKey": {
                "type": "string"
              },
              "payerSignature": {
                "properties": {
                  "base64Challenge": {
                    "type": "string"
                  },
                  "base64Signature": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "required": [
              "carAddress",
              "carSignature.challengeHash",
              "carSignature.r",
              "carSignature.s",
              "carSignature.v",
              "admin.formId",
              "admin.contractAddress",
              "payerLedger",
              "payerAddress",
              "payerSignature.base64Signature",
              "payerSignature.base64Challenge"
            ],
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  }
}